<div class="mainass" fxFlex="100">
    <h1>What does a Referral Associate NOT DO?</h1>
    <div fxLayout="row wrap" fxLayoutAlign="space-around center">
        <div fxFlex="50" fxFlex.sm="50" fxFlex.md="50" fxFlex.xs="100">
            <p>❖ Make appointments, Show property
                <p>❖ Provide advice to Buyers or Sellers regarding price, negotiating strategy, or repair strategy</p>
                <p>❖ Write offers, Attend any inspections</p>
                <p>❖ Interfere with any active real estate professional</p>
                <p>❖ Pay fees to any local real estate board, MLS, or Realtor Association</p>
                <p>❖ Pay E&O</p>
        </div>
        <div fxFlex="50" fxFlex.sm="50" fxFlex.md="50" fxFlex.xs="100">
          <img src="../../../assets/images/undraw-career-progress-ivdb.png">
        </div>
</div>
</div>