.mainwork{
    width: 100%;
    color: #0e2d53;
    margin-top: 30px;
}
h1{
    margin-top: 50px;
    color: #0e2d53; 
}
p{
    margin-top: 30px;
    color: #0e2d53;
    max-width: 800px;
    text-align: center; 
}