<div class="topbar">
  <div fxLayout="row" fxLayoutAlign="space-around center">
  
    <div fxFlex="20">
      <img src="../../../assets/images/group.png" />
    </div>
 
    <div fxFlex="50" fxHide.lt-md>
      <div class="topnav">
        <a href="#news">HOME</a>
        <a href="#news">JOIN US</a>
        <a href="#news">FAQS</a>
        <a href="#news">Send A Referal</a>
        <a href="#news">Continuoe Education</a>
      </div>
    </div>
  
    <div fxFlex="30">
      <div class="lownav">
        <a href="#home">Sign in</a>
        <button>Get Started Now</button>
      </div>
    </div>
 
</div>
</div>
