<div class="mainass" fxFlex="100">
    <h1>What does a Referral Associate DO?</h1>
  
  <div fxLayout="row wrap" fxLayoutAlign="space-around center">
    <div fxFlex="50" fxFlex.sm="50" fxFlex.md="50" fxFlex.xs="100">
      <img src="../../../assets/images/undraw-quitting-time-dm-8-t.png">
    </div>
    <div fxFlex="50" fxFlex.sm="50" fxFlex.md="50" fxFlex.xs="100">
      <p>❖ Maintains a current real estate license.</p>
      <p>
        ❖ Completes all required Continuing Education requirements to keep
        license current.
      </p>
      <p>❖ Renew license as scheduled according to local requirements.</p>
      <p>❖ Submits referral clients through the RRR portal.</p>
    </div>
  </div>
</div>
