.mainass h1{
    color: #10767b;
}
.head {
    margin-top: 30px;
 color: #0e2d53;
}
.passage{
    color: #0e2d53;
    font-size: 17px;
    font-weight: 500;
    margin-top: 30px;
    max-width: 700px;
}
