<h2 align="center">What Our Agency Says</h2>
<div class="cards">
  <div fxLayout="row wrap" fxLayoutAlign="center center">
    <div class="card">
      <img src="../../../assets/images/mithaliraj.png">
      <h3>MithaliRaj</h3>
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry. Lorem Ipsum has been the industry's standard dummy text ever
        since the 1500s, when an unknown
      </p>
    </div>
    <div class="card">
      <img src="../../../assets/images/msd.png">
      <h3>MS Dhoni</h3>
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry. Lorem Ipsum has been the industry's standard dummy text ever
        since the 1500s, when an unknown
      </p>
    </div>
    <div class="card">
      <img src="../../../assets/images/kohli.png" />
      <h3>Virat Kohli</h3>
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry. Lorem Ipsum has been the industry's standard dummy text ever
        since the 1500s, when an unknown
      </p>
    </div>
  </div>
</div>

