h2{
    line-height: 1.92;
    font-family: OpenSans;
    color: #0e2d53;
}
.Rectangle-3 {
    width: 260px;
    height: 45px;
    border-radius: 2px;
    border: solid 0.5px #d1d1d1;
}
.Rectangle {
    width: 150px;
    height: 50px;
    border-radius: 2px;
    background-color: #10767b;
  }
  .sign{
      padding-top: 60px;
  }
  p{
    color: #0e2d53;
  }